<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <form method="post" action="/size">
        <input name="rest"  placeholder="Количество ограничений"/>
        <input name="var" placeholder="Количество переменных"/>
        <button type="submit">Подтвердить</button>
    </form>

    <form method="post" action="matrix">
        <table class="table table-bordered table-striped table-sm">
            <tr th:each = "i : ${Fx}">
                <td style="text-align:center;" th:each="j : ${i}"><input name="fx" ></td>
            </tr>
        </table>
        <select name="fun">
            <option>min</option>
            <option>max</option>
        </select>
        <button type="submit">Посчитать</button>
    </form>

    <textarea th:text="${result}"/>
</head>
<body>

</body>
</html>